$breakpoints: (
	"phone": 400px,
	"phone-wide": 480px,
	"phablet": 560px,
	"tablet-small": 640px,
	"tablet": 768px,
	"tablet-wide": 1024px,
	"desktop": 1248px,
	"desktop-wide": 1440px
);

@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {

		$width: map_get($breakpoints, $width);

		@if $type == max {
			$width: $width - 1px;
		}

		$parent: &;

		@media only screen and (#{$type}-width: $width) {
			@at-root #{$parent} {
				@content;
			}
		}
	}
}

// ###############################################

// My new media queries

@media screen and (max-width: 650px) {

    /* header */
    header .header-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .header-container{
        text-align: center;
    }

    main{
        /* display: block;
        width: 100%; */
    }

    main .aside-section {
        flex: 1 0 100%;
        /* width: 100%; */
        margin: auto;

    }

    main .main-section {
        flex: 1 0 100%;
         /* width: 100%; */
        margin: auto; 
        
    }

    main {
        width: 100%;
        margin: auto;
        padding: 0;
    }
   

    main .aside-article-intro, 
    main .article-friends, 
    main .aside-article-photos {
        margin-bottom: 0;
    }

    main .aside-article-photos, 
    main .aside-article-friends{
        padding: 0;
    }

    main .aside-article-header {
        padding: 1rem 0 0 1rem;
    }



}