---
layout: site
---

<h1>404 - Page not found</h1>

<p>Sorry!</p>

<!-- <section class="aside-section">

    {% include intro_include.html %}

    {% include photos_include.html %}

</section> -->

<!-- <section class="main-section">
    <ul class="grid-container">
        <li><a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/PhilipJFry.jpg" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Leela.jpg" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Amy-Wong.png" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Captian_Zapp_Branigan_1.jpg" alt=""></a></li>
        <li><a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/Hermes_Conrad_1.jpg" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/John_Zoidberg_1.png" alt=""></a></li>
        <li><a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/Kiff_Croker_1.jpeg" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Professor-Farnsworth_1.jpg" alt=""></a></li>
        <li><a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/Nibbler_1.jpg" alt=""></a></li>
    </ul>
    
</section> -->


<!-- <section class="main-section">
    <ul class="grid-container">
        <li>
            <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_1.jpeg">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_11.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img src="{{ site.baseurl }}/assets/images/Bender/Bender_2.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_4.jpeg">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_5.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img src="{{ site.baseurl }}/assets/images/Bender/Bender_10.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_7.jpeg">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_8.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img src="{{ site.baseurl }}/assets/images/Bender/Bender_9.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
    </ul>
</section> -->