---
layout: site
title: Friends
permalink: /friends/
---

<section class="aside-section">

    {% include intro_include.html %}

    {% include photos_include.html %}

</section>

<!-- <section class="main-section">
    <ul class="grid-container">
        <li><a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/PhilipJFry.jpg" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Leela.jpg" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Amy-Wong.png" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Captian_Zapp_Branigan_1.jpg" alt=""></a></li>
        <li><a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/Hermes_Conrad_1.jpg" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/John_Zoidberg_1.png" alt=""></a></li>
        <li><a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/Kiff_Croker_1.jpeg" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Professor-Farnsworth_1.jpg" alt=""></a></li>
        <li><a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/Nibbler_1.jpg" alt=""></a></li>
    </ul>
    
</section> -->

<section class="main-section">
        <ul class="grid-container">
    <section class="card">
        <div class="media">
            <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_1.jpeg">
        </div>
        <div class="content">
            <h3>Card Title</h3>
            <p>Short description of what this is all about - crafted to make people interested</p>
            <a href="#" class="button">See more ...</a>
        </div>
    </section>

    <section class="card">
            <div class="media">
                <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_1.jpeg">
            </div>
            <div class="content">
                <h3>Card Title</h3>
                <p>Short description of what this is all about - crafted to make people interested</p>
                <a href="#" class="button">See more ...</a>
            </div>
        </section>
        <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_1.jpeg">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </ul>
</section>