---
layout: site
title: Gallery
permalink: /gallery/
---


<section class="aside-section">

    {% include intro_include.html %}

    {% include friends_include.html %}

</section>

<section class="main-section">
    <ul class="grid-container">
        <li><a href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_1.jpeg"></a></li>
        <li><a href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_11.jpg" alt=""></a></li>
        <li><a href=""><img src="{{ site.baseurl }}/assets/images/Bender/Bender_2.jpg" alt=""></a></li>
        <li><a href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_4.jpg" alt=""></a></li>
        <li><a href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_5.jpg" alt=""></a></li>
        <li><a href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bendder_10.jpg" alt=""></a></li>
        <li><a href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_7.jpg" alt=""></a></li>
        <li><a href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_8.jpg" alt=""></a></li>
        <li><a href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_9.jpg" alt=""></a></li>
    </ul>

</section>



<!-- <section class="main-section">
    <ul class="grid-container">
        <li>
            <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_1.jpeg">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_11.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img src="{{ site.baseurl }}/assets/images/Bender/Bender_2.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_4.jpeg">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_5.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img src="{{ site.baseurl }}/assets/images/Bender/Bender_10.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_7.jpeg">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_8.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
        <li>
            <section class="card">
                <div class="media">
                    <img src="{{ site.baseurl }}/assets/images/Bender/Bender_9.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Card Title</h3>
                    <p>Short description of what this is all about - crafted to make people interested</p>
                    <a href="#" class="button">See more ...</a>
                </div>
            </section>
        </li>
    </ul>
</section> -->