---
layout: site
title: Gallery
permalink: /gallery/
---

<section class="main-section">

    {% include timeline_include.html class="active" %}

    <section class="grid-container-photos">
        <div class="gallery-item"><img src="{{ site.baseurl }}/assets/images/Bender/Bender_1.jpeg"></div>
        <div class="gallery-item"><img src="{{ site.baseurl }}/assets/images/Bender/Bender_11.jpg" alt=""></div>
        <div class="gallery-item"><img src="{{ site.baseurl }}/assets/images/Bender/Bender_2.jpg" alt=""></div>
        <div class="gallery-item"><img src="{{ site.baseurl }}/assets/images/Bender/Bender_4.jpg" alt=""></div>
        <div class="gallery-item"><img src="{{ site.baseurl }}/assets/images/Bender/Bender_5.jpg" alt=""></div>
        <div class="gallery-item"><img src="{{ site.baseurl }}/assets/images/Bender/Bendder_10.jpg" alt=""></div>
        <div class="gallery-item"><img src="{{ site.baseurl }}/assets/images/Bender/Bender_7.jpg" alt=""></div>
        <div class="gallery-item"><img src="{{ site.baseurl }}/assets/images/Bender/Bender_8.jpg" alt=""></div>
        <div class="gallery-item"><img src="{{ site.baseurl }}/assets/images/Bender/Bender_9.jpg" alt=""></div>
    </section>

</section>

<section class="aside-section">

    {% include intro_include.html %}

    {% include friends_include.html %}

</section>