---
layout: site
title: Home
permalink: /
---

<!-- <a href="#" class="button">Hi, There ...</a>
<a href="#" class="button purple">Hi, There ...</a>
<a href="#" class="button deep-purple">Hi, There ...</a>
<a href="#" class="button yellow">Hi, There ...</a>

<ul class="listing posts">
	{% for post in site.posts %}
	<li>
		<a href="{{ site.baseurl }}{{ post.url }}">
			<span class="title">{{ post.title }}</span>
			<span class="date">{{ post.date | date_to_string }}</span>
		</a>
	</li>
	{% endfor %}
</ul> -->

<section class="main-section">
            
		{% include timeline_include.html class="active" %}
		{% include main_shared_content_include.html %}
    
</section>

        <section class="aside-section">
          
            {% include intro_include.html %}

            {% include photos_include.html %}

            {% include friends_include.html %}
           
        </section>

       
