<ul class="grid-container">
        <li >
            <article class="card">
                <div class="media">
                    <img src="{{ site.baseurl }}/assets/images/Friends/PhilipJFry.jpg">
                </div>
                <div class="content">
                    <h3 class="card-title">Philip J. Fry</h3>
                    <p>Fry is an immature, slovenly, yet good-hearted and sentimental pizza delivery boy who falls into
                        a cryogenic pod, causing it to activate and freeze him just after midnight on January 1, 2000.</p>
                    <!-- <a href="#" class="card-button">See more ...</a> -->
                </div>
            </article>
        </li>
        <li>
            <article class="card">
                <div class="content">
                    <h3 class="card-title">Turanga Leela</h3>
                    <p>Leela is the competent, one-eyed captain of the Planet Express Ship.[70] Abandoned as a baby,
                        she grows up in the Cookieville Minimum Security Orphanarium believing herself. </p>
                    <!-- <a href="#" class="card-button">See more ...</a> -->
                </div>
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Friends/Leela.jpg">
                </div>
            </article>
        </li>
        <li>
            <article class="card">
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Friends/Amy-Wong.png">
                </div>
                <div class="content">
                    <h3 class="card-title">Amy Wong</h3>
                    <p>Amy is the competent, one-eyed captain of the Planet Express Ship.[70] Abandoned as a baby,
                            she grows up in the Cookieville Minimum Security Orphanarium believing herself.</p>
                    <!-- <a href="#" class="card-button">See more ...</a> -->
                </div>
            </article>
        </li>
        <li>
            <article class="card">

                <div class="content">
                    <h3 class="card-title">Zapp Brannigan</h3>
                    <p>Zapp is the competent, one-eyed captain of the Planet Express Ship.[70] Abandoned as a baby,
                            she grows up in the Cookieville Minimum Security Orphanarium believing herself.</p>
                    <!-- <a href="#" class="card-button">See more ...</a> -->
                </div>
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Friends/Captian_Zapp_Branigan_1.jpg">
                </div>
            </article>
        </li>
        <li>
            <article class="card">
                <div class="media">
                    <img src="{{ site.baseurl }}/assets/images/Friends/Hermes_Conrad_1.jpg">
                </div>
                <div class="content">
                    <h3 class="card-title">Hermes Conrad</h3>
                    <p>Hermes is the competent, one-eyed captain of the Planet Express Ship.[70] Abandoned as a baby,
                            she grows up in the Cookieville Minimum Security Orphanarium believing herself.</p>
                    <!-- <a href="#" class="card-button">See more ...</a> -->
                </div>
            </article>
        </li>
        <li>
            <article class="card">

                <div class="content">
                    <h3 class="card-title">Dr. John A. Zoidberg</h3>
                    <p>Zoidberg is the competent, one-eyed captain of the Planet Express Ship.[70] Abandoned as a baby,
                            she grows up in the Cookieville Minimum Security Orphanarium believing herself.</p>
                    <!-- <a href="#" class="card-button">See more ...</a> -->
                </div>
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Friends/John_Zoidberg_1.png">
                </div>
            </article>
        </li>
        <li>
            <article class="card">
                <div class="media">
                    <img src="{{ site.baseurl }}/assets/images/Friends/Kif_Kroker_2.jpg">
                </div>
                <div class="content">
                    <h3 class="card-title">Kif Kroker</h3>
                    <p>Kif is the competent, one-eyed captain of the Planet Express Ship.[70] Abandoned as a baby,
                            she grows up in the Cookieville Minimum Security Orphanarium believing herself.</p>
                    <!-- <a href="#" class="card-button">See more ...</a> -->
                </div>
            </article>
        </li>
        <li>
            <article class="card">

                <div class="content">
                    <h3 class="card-title">Professor Farnsworth</h3>
                    <p>Farnsworth is the competent, one-eyed captain of the Planet Express Ship.[70] Abandoned as a baby,
                            she grows up in the Cookieville Minimum Security Orphanarium believing herself.</p>
                    <!-- <a href="#" class="card-button">See more ...</a> -->
                </div>
                <div class="media">
                    <img class="l" src="{{ site.baseurl }}/assets/images/Friends/Professor-Farnsworth_1.jpg">
                </div>
            </article>
        </li>
        <li>
            <article class="card">
                <div class="media">
                    <img src="{{ site.baseurl }}/assets/images/Friends/Nibbler_1.jpg">
                </div>
                <div class="content">
                    <h3 class="card-title">Nibbler</h3>
                    <p>Nibbler is the competent, one-eyed captain of the Planet Express Ship.[70] Abandoned as a baby,
                            she grows up in the Cookieville Minimum Security Orphanarium believing herself.</p>
                    <!-- <a href="#" class="card-button">See more ...</a> -->
                </div>
            </article>
        </li>

    </ul>