<article class="aside-article-friends">
    <div class="aside-article-header">
        <div class="aside-article-icon">
            <i class="fas fa-user-friends"></i>
        </div>
        <h3 class="aside-article-title">Friends &bull; 80496</h3>
    </div>
    <ul class="aside-article-gallery ">
        <li>
            <a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/PhilipJFry.jpg" alt=""></a>
            <div class="img-details"><p class="user-name">Philip J. Fry</p> </div>
        </li>
        <li>
            <a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Leela.jpg" alt=""></a>
            <div class="img-details"><p class="user-name">Turanga Leela</p> </div>
        </li>
        <li>
            <a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Amy-Wong.png" alt=""></a>
            <div class="img-details"><p class="user-name">Amy Wong</p> </div>
        </li>
        <li>
            <a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Captian_Zapp_Branigan_1.jpg" alt=""></a>
            <div class="img-details"><p class="user-name">Zapp Brannigan</p> </div>
        </li>
        <li>
            <a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/Hermes_Conrad_1.jpg" alt=""></a>
            <div class="img-details"><p class="user-name">Hermes Conrad</p> </div>
        </li>
        <li>
            <a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/John_Zoidberg_1.png" alt=""></a>
            <div class="img-details"><p class="user-name">Dr. John A. Zoidberg</p> </div>
        </li>
        <li>
            <a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/Kif_Kroker_2.jpg" alt=""></a>
            <div class="img-details"><p class="user-name">Kif Kroker</p> </div>
        </li>
        <li>
            <a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Professor-Farnsworth_1.jpg" alt=""></a>
            <div class="img-details"><p class="user-name">Professor Farnsworth</p> </div>
        </li>
        <li>
            <a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/Nibbler_1.jpg" alt=""></a>
            <div class="img-details"><p class="user-name">Nibbler</p> </div>
        </li>
    </ul>

</article>