<article class="aside-article-friends">
    <div class="aside-article-header">
        <div class="aside-article-icon">
            <i class="fas fa-user-friends"></i>
        </div>
        <h3 class="aside-article-title">Friends &bull; 80496</h3>
    </div>
    <ul class="aside-article-gallery">
        <li><a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/PhilipJFry.jpg" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Leela.jpg" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Amy-Wong.png" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Captian_Zapp_Branigan_1.jpg" alt=""></a></li>
        <li><a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/Hermes_Conrad_1.jpg" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/John_Zoidberg_1.png" alt=""></a></li>
        <li><a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/Kiff_Croker_1.jpeg" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/assets/images/Friends/Professor-Farnsworth_1.jpg" alt=""></a></li>
        <li><a href="#"><img class="l" src="{{ site.baseurl }}/assets/images/Friends/Nibbler_1.jpg" alt=""></a></li>
     
    </ul>

</article>