<article class="aside-article-intro">
    <div class="aside-article-header">
        <div class="aside-article-icon">
            <i class="fas fa-globe-asia"></i>
        </div>
        <h3 class="aside-article-title">Intro</h3>
    </div>
    <div class="aside-intro-content">
        <h4 class="occupation">Robot</h4>
        <p>Lives in Apartment 00100100, Robot Arms Apartments, in New New York, Earth.</p>
        <p>From Tijuana, Mexico.</p>
    </div>

    <button class="button update-info">
            <a href="{{ site.baseurl }}/about">UPDATE INFO</a>
        </button>
    <!-- <div class="aside-intro-update">
        <a class="active" href="{{ site.baseurl }}/about">UPDATE INFO</a>
    </div> -->
</article>