<section class="about-wrapper">

    <section class="hobbies-education-wrapper">

        <section class="hobbies-and-interests">
            <div class="section-title">
                <h6>Hobbies and Interests</h6>
            </div>
            <article class="hobbies-and-interests-article">
                <div class="column-wrapper-second-section">
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            Hobbies:
                        </p>
                        <p class="info-category-description">
                            I like to ride the bike to work, swimming, and working out. I also like reading design
                            magazines,
                            go to
                            museums, and binge watching a good tv show while it’s raining outside.
                        </p>
                    </div>
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            Favourite TV Shows:
                        </p>
                        <p class="info-category-description">
                            Breaking Good, RedDevil, People of Interest, The Running Dead, Found, American Guy.
                        </p>
                    </div>
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            Favourite Movies:
                        </p>
                        <p class="info-category-description">
                            Idiocratic, The Scarred Wizard and the Fire Crown, Crime Squad, Ferrum Man.
                        </p>
                    </div>
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            Favourite Games:
                        </p>
                        <p class="info-category-description">
                            The First of Us, Assassin’s Squad, Dark Assylum, NMAK16, Last Cause 4, Grand Snatch Auto.
                        </p>
                    </div>

                </div>
                <div class="column-wrapper-second-section">
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            Favourite Music Bands / Artists:
                        </p>
                        <p class="info-category-description">
                            Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.
                        </p>
                    </div>
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            Favourite Books:
                        </p>
                        <p class="info-category-description">
                            The Crime of the Century, Egiptian Mythology 101, The Scarred Wizard, Lord of the Wings,
                            Amongst
                            Gods,
                            The Oracle, A Tale of Air and Water.
                        </p>
                    </div>
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            Favourite Writers:
                        </p>
                        <p class="info-category-description">
                            Martin T. Georgeston, Jhonathan R. Token, Ivana Rowle, Alexandria Platt, Marcus Roth.
                        </p>
                    </div>
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            Other Interests:
                        </p>
                        <p class="info-category-description">
                            Swimming, Surfing, Scuba Diving, Anime, Photography, Tattoos, Street Art.
                        </p>
                    </div>
                </div>
            </article>

        </section>

        <section class="education-and-employement">
            <div class="section-title">
                <h6>Education and Employement</h6>
            </div>
            <article class="education-and-employement-article">
                <div class="column-wrapper-second-section">
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            The New College of Design
                        </p>
                        <p class="duration">
                            2001 - 2006
                        </p>
                        <p class="info-category-description">
                            Breaking Good, RedDevil, People of Interest, The Running Dead, Found, American Guy.
                        </p>
                    </div>
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            Rembrandt Institute
                        </p>
                        <p class="duration">
                            2008
                        </p>
                        <p class="info-category-description">
                            Five months Digital Illustration course. Professor: Leonardo Stagg.
                        </p>
                    </div>

                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            The Digital College
                        </p>
                        <p class="duration">
                            2010
                        </p>
                        <p class="info-category-description">
                            6 months intensive Motion Graphics course. After Effects and Premire. Professor: Donatello
                            Urtle.
                        </p>
                    </div>


                </div>
                <div class="column-wrapper-second-section">
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            Digital Design Intern
                        </p>
                        <p class="duration">
                            2006-2008
                        </p>
                        <p class="info-category-description">
                            Digital Design Intern for the “Multimedz” agency. Was in charge of the communication with
                            the
                            clients.
                        </p>
                    </div>
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            UI/UX Designer
                        </p>
                        <p class="duration">
                            2008-2013
                        </p>
                        <p class="info-category-description">
                            UI/UX Designer for the “Daydreams” agency.
                        </p>
                    </div>
                    <div class="info-category-second-section">
                        <p class="info-category-title">
                            Senior UI/UX Designer
                        </p>
                        <p class="duration">
                            2013-Now
                        </p>
                        <p class="info-category-description">
                            Senior UI/UX Designer for the “Daydreams” agency. I’m in charge of a ten person group,
                            overseeing all the proyects and talking to potential clients.
                        </p>
                    </div>
                </div>

            </article>

        </section>
    </section>

    <section class="personal-info">
        <div class="section-title">
            <h6>Personal info</h6>
        </div>
        <article class="personal-info-article">
            <div class="info-category">
                <p class="info-category-title">
                    About Me:
                </p>
                <p class="info-category-description">
                    Hi, I’m Bender, I’m 36 and I work as a Digital Designer for the “Daydreams” Agency in Pier 56
                </p>
            </div>
            <div class="info-category">
                <p class="info-category-title">
                    Birthday:
                </p>
                <p class="info-category-description">
                    December 14th, 1980
                </p>
            </div>
            <div class="info-category">
                <p class="info-category-title">
                    Birthplace:
                </p>
                <p class="info-category-description">
                    Tijuana, Mexico.
                </p>
            </div>
            <div class="info-category">
                <p class="info-category-title">
                    Lives in:
                </p>
                <p class="info-category-description">
                    Apartment 00100100, Robot Arms Apartments, in New New York, Earth.
                </p>
            </div>
            <div class="info-category">
                <p class="info-category-title">
                    Occupation:
                </p>
                <p class="info-category-description">
                    UI/UX Designer
                </p>
            </div>
            <div class="info-category">
                <p class="info-category-title">
                    Joined:
                </p>
                <p class="info-category-description">
                    April 31st, 2014
                </p>
            </div>
            <div class="info-category">
                <p class="info-category-title">
                    Gender:
                </p>
                <p class="info-category-description">
                    Male
                </p>
            </div>
            <div class="info-category">
                <p class="info-category-title">
                    Status:
                </p>
                <p class="info-category-description">
                    Married
                </p>
            </div>
            <div class="info-category">
                <p class="info-category-title">
                    Email:
                </p>
                <p class="info-category-description">
                    bender@futurama.com
                </p>
            </div>
            <div class="info-category">
                <p class="info-category-title">
                    Website:
                </p>
                <p class="info-category-description">
                    www.benderthegreatest.com
                </p>
            </div>
            <div class="info-category">
                <p class="info-category-title">
                    Phone Number:
                </p>
                <p class="info-category-description">
                    (044) 555 - 4369 - 8957
                </p>
            </div>
            <div class="info-category">
                <p class="info-category-title">
                    Religious Belifs:
                </p>
                <p class="info-category-description">
                    -
                </p>
            </div>
            <div class="info-category">
                <p class="info-category-title">
                    Political Incline:
                </p>
                <p class="info-category-description">
                    Democrat
                </p>
            </div>

            <div class="other-social-networks-title">
                <h6>Other Social Networks:</h6>
            </div>
            <div class="other-social-networks">

                <div class="social-wrapper">
                    <button class="button update-info button-about">
                        <i class="fab fa-instagram"></i>
                        <a href="{{ site.baseurl }}/about"> Instagram</a>
                    </button>
                </div>
                <div class="social-wrapper">
                    <button class="button update-info button-twitter">
                        <i class="fab fa-twitter"></i>
                        <a href="{{ site.baseurl }}/about"> Twitter</a>
                    </button>
                </div>
                <div class="social-wrapper">
                    <button class="button update-info button-dribbble">
                        <i class="fab fa-dribbble"></i>
                        <a href="{{ site.baseurl }}/about"> Dribbble</a>
                    </button>

                </div>
            </div>
        </article>
    </section>



</section>