<article class="aside-article-photos">
    <div class="aside-article-header">
        <div class="aside-article-icon">
            <i class="fas fa-images"></i>
        </div>
        <h3 class="aside-article-title">Photos</h3>
    </div>
    <ul class="aside-article-gallery bender-photos">
        <li ><a  class="zoom" href=""><img  class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_1.jpeg"></a></li>
        <li><a class="zoom" href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_11.jpg" alt=""></a></li>
        <li><a  class="zoom" href=""><img src="{{ site.baseurl }}/assets/images/Bender/Bender_2.jpg" alt=""></a></li>
        <li><a class="zoom" href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_4.jpg" alt=""></a></li>
        <li><a class="zoom" href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_5.jpg" alt=""></a></li>
        <li><a class="zoom" href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bendder_10.jpg" alt=""></a></li>
        <li><a class="zoom" href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_7.jpg" alt=""></a></li>
        <li><a class="zoom" href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_8.jpg" alt=""></a></li>
        <li><a class="zoom" href=""><img class="l" src="{{ site.baseurl }}/assets/images/Bender/Bender_9.jpg" alt=""></a></li>
    </ul>
</article>