<article class="main-article-header">
        <nav>
            <ul>
                <li class="li-timeline">
                    <a class="timeline" href="{{ site.baseurl }}/">
                        <i class="fas fa-video"></i>
                        <p class="">TIMELINE</p>
                    </a>
                </li>
                <li>
                    <a class="about" href="{{ site.baseurl }}/about">
                        <i class="fas fa-info-circle"></i>
                        <p>ABOUT</p>
                    </a>
                </li>
                <li>
                    <a class="friends" href="{{ site.baseurl }}/friends">
                        <i class="fas fa-user-friends"></i>
                        <p>FRIENDS</p>
                    </a>
                </li>
                <li>
                    <a class="photos" href="{{ site.baseurl }}/gallery">
                        <i class="fas fa-camera-retro"></i>
                        <p>PHOTOS</p>
                    </a>
                </li>
            </ul>
        </nav>
    </article>
    <article class="main-article-shared-content">

        <section class="main-article-content-section">
            <div class="main-article-shared-content-header">
                <div class="main-article-shared-content-image">
                    <img src="{{ site.baseurl }}/assets/images/Bender/Bender_1.jpeg" alt="bender">
                </div>
                <div class="main-article-shared-content-description">
                    <p class="user-info">Bender Rodrigez <span class="user-info-span">shared a</span> link</p>
                    <p class="description">Feb 27 18:40 PM &bull; via Instagram</p>
                </div>
            </div>
            <div class="main-article-shared-media">
                <img src="{{ site.baseurl }}/assets/images/Futurama.jpg" alt="">
            </div>
            <div class="main-article-shared-content-footer">
                <div class="main-article-left-side-icons-container">
                    <ul>
                        <li>
                            <i class="fas fa-thumbs-up"></i>
                        </li>
                        <li>
                            <i class="fas fa-share"></i>
                        </li>
                    </ul>
                </div>
                <div class="main-article-right-side-icons-container">
                    <div class="comment-icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <p>2</p>
                </div>
            </div>
        </section>

        <section class="main-article-comments-section">
            <div class="main-article-comments-container">
                <!-- <div class="comment"> -->
                <div class="main-article-shared-content-image">
                    <img src="{{ site.baseurl }}/assets/images/Friends/PhilipJFry.jpg" alt="">
                </div>
                <div class="main-article-shared-content-description">
                    <div class="comment-info">
                        <p class="user-info"> Philip J. Fry</p>
                        <p class="description"> 18:25 PM</p>
                    </div>
                    <p class="content">Philip J. Fry, commonly known simply by his surname Fry, is a fictional
                        character and the protagonist of the animated sitcom Futurama. He is voiced by Billy
                        West using a version of his own voice as he sounded when he was 25.[1][2] He is a
                        slacker delivery boy from the 20th century who becomes cryogenically frozen and
                        reawakens in the 30th century to become a delivery boy there with an intergalactic
                        delivery company run by his 30th great nephew, Professor Hubert J. Farnsworth. </p>
                </div>
                <!-- </div> -->
            </div>
            <div class="main-article-comments-container">
                <!-- <div class="comment"> -->
                <div class="main-article-shared-content-image l">
                    <img src="{{ site.baseurl }}/assets/images/Friends/Leela.jpg" alt="">
                </div>
                <div class="main-article-shared-content-description">
                    <div class="comment-info">
                        <p class="user-info"> Turanga Leela</p>
                        <p class="description"> 11:25 AM</p>
                    </div>
                    <p class="content">Leela (full name Turanga Leela) is a fictional character from the
                        animated television series Futurama. Leela is spaceship captain, pilot, and head of all
                        aviation services on board the Planet Express Ship. Throughout the series, she has an
                        on-again, off-again relationship with and eventually marries Philip J. Fry, the central
                        character in the series and becomes the mother to Kif's offspring and in the comics
                        only, Elena Fry.</p>
                </div>
                <!-- </div> -->
            </div>
            <div class="write-comment">
                <div class="comment">
                    <div class="main-article-shared-content-image">
                        <img src="{{ site.baseurl }}/assets/images/Bender/Bender_1.jpeg" alt="">
                    </div>
                    <div class="comment-input">
                        <input type="text" placeholder="Write a comment...">
                    </div>
                </div>
            </div>
        </section>
    </article>

    <!-- <article class="main-article-comment">

        </article> -->